    <!-- About Area Start -->
    <div id="about" class="about-area-one bg-about section-ptb">
        <div class="animate-section">
            <div class="icon-one" style="background-image:url(assets/images/icon/shep_01.png)"></div>
            <div class="icon-two" style="background-image:url(assets/images/icon/shep_02.png)"></div>
            <div class="icon-three" style="background-image:url(assets/images/icon/shep_03.png)"></div>
        </div>
       
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-image text-center wow fadeInLeft" data-wow-duration="1s">
                        <img src="assets/images/about/01.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="about-content">
                        <div class="about-title">
                            <h2>About Coresthetics</h2>
                        </div>
                        <p>Coresthetics is aimed at helping health-conscious working professionals in attaining their health focused lifestyles & fitness goals. It's purpose is to simplify the process or progression path these inidividuals would otherwise need to undergo.</p>
                        <p>It provides a highly personalised, adpatable guide to help instill and maintain training habits in these individuals.</p>
                        <ul>
                            <li><i class="ion-checkmark-round"></i> Location Based Training</li>
                            <li><i class="ion-checkmark-round"></i> Simple and Easy to Use</li>
                            <li><i class="ion-checkmark-round"></i> Personalised Training</li>
                        </ul>
                        <div class="about-btn">
                            <a href="#contact" class="button">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Area End -->

