    <!-- Download Area Start  -->
    <div class="download-area  download-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ml-auto mr-auto">
                    <div class="section-title text-black">
                        <h2>Download Core-sthetics</h2>
                        <p>Install the version that suits your platform best.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="download-buttons text-center">
                        <a href="#" class="button"><i class="fa fa-huawei"></i>APP GALLERY</a>
                        <a href="#" class="button"><i class="fa fa-android"></i>PLAY STORE</a>
                        <a href="#" class="button"><i class="fa fa-windows"></i>WINDOWS STORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Download Area End  -->
    <!-- Contact Area Start -->
    <div id="contact" class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-info-container wow fadeInBottom" data-wow-duration="1s">    
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="contact-title">
                                    <h2>Core-sthetics</h2>
                                    <p>Put yourself at the core of your fitness goals with personalised training to maintain or pursue a healthy lifestyle.
Take out the guesswork, prioritise consistency over perfection with Coresthetics app.</p>
                                </div>
                                <div class="contact-address">
                                    <ul>
                                        <li><i class="fa fa-phone"></i> <span class="information">(0027)-83 704 5451 / (0027)-78 531 8335</span></li>
                                        <li><i class="fa fa-envelope-o"></i> <span class="information"><a href="#">admin@core-sthetics.co.za</a></span></li>
                                        <li><i class="fa fa-map-o"></i> <span class="information">Amsterdam Flats, Randburg, JHB,<br> RSA</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <form class="contact-form-area" action="/" method="get" id="contact-form">
                                    <div class="row contact-form">
                                        <div class="form-group col-md-12">
                                            <input name="name" class="form-control" placeholder="Name" type="text" id="name">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <input name="email" class="form-control" placeholder="Email" type="email" id="email">
                                        </div>							 			
                                        <div class="form-group col-md-12">
                                            <input name="subject" class="form-control" placeholder="Subject" type="text" id="subject">
                                        </div>	
                                        <div class="form-group col-md-12">
                                            <textarea name="message" class="yourmessage form-control" placeholder="Message"></textarea>
                                        </div>	
                                        <div class="submit-form form-group col-sm-12">
                                            <button class="button submit-btn" type="submit"><span>Submit</span></button>
                                            <!-- <p class="form-messege"></p> -->
                                        </div>											
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Area End -->

