    <!-- Footer Area Start -->
    <footer class="footer-area">
        <div class="footer-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-content">
                            <div class="footer-logo">
                                <a href="index.html"><img src="/assets/images/logo/logo.png" alt=""></a>
                            </div>
                            <p>Copyright © 2023 {{ metadata.title }} All Rights Reserved</p>
                            <div class="social-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

