    <!-- Hero Slider start -->
    <div class="hero-slider hero-slider-bg-1" id="slider">
        <div class="single-slide slider-mockup">
            <!-- Hero Content One Start -->
            <div class="hero-content-one container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8"> 
                        <div class="slider-text-info">
                            <h1>Coresthetics <br> App.</h1>
                            <p>Fitness training that adapts to your goals.</p>
                            <p>Put yourself at the core of your fitness goals with personalised training to maintain or pursue a healthy lifestyle. <br>
                            Take out the guesswork, prioritise consistency over perfection with Coresthetics app.</p>
                            <div class="slider-button">
                                <a href="https://appgallery.huawei.com/app/C102370797" class=" slider-btn uppercase"><span><i class="fa fa-huawei"></i>App Gallery</span></a>
                                <a href="https://play.google.com/store/apps/details?id=app.coresthetics" class="slider-btn uppercase"><span><i class="fa fa-send-o"></i>Google Play</span></a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1 col-md-4 text-center"> 
                        <div class="slider-inner-imge-2 banner-right">
                            <img src="/assets/images/slider/inner-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero Content One End -->
        </div>
    </div>
    <!-- Hero Slider end -->
