    <!-- Pricing Packages Start -->
    <div id="pricing" class="priceing-package-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ml-auto mr-auto">
                    <div class="section-title pb--50">
                        <h2>OUR Pricing</h2>
                        <p>Our app is affordable.</p>
                    </div>
                </div>
            </div>
            <div class="row no-gutters ext-plr-30">
            <div class="col-lg-4 col-md-6 order-lg-1 order-1">
                <!-- single-priceing Start -->
                <div class="single-priceing text-center">
                    <div class="table-header">
                        <h5>Yearly</h5>
                        <h3>R99.00 / yr</h3>
                    </div>
                    <ul class="pricing-list">
                        <li>Marketing Metup</li>
                        <li class="not">Free Coffy.</li>
                        <li>Support Papers</li>
                        <li class="not">Policy System</li>
                        <li class="not">One Time Support</li>
                        <li></li>
                    </ul>
                    <div class="chose-btn">
                        <a href="#" class="btn choose-button">Choose Now </a>
                    </div>
                </div>
                <!-- single-priceing End -->
            </div>
            <div class="col-lg-4 col-md-6 ml-auto mr-auto order-lg-2 order-3">
                <!-- single-priceing Start -->
                <div class="single-priceing text-center active">
                    <div class="table-header">
                        <h5>Monthly</h5>
                        <h3>R50.00 / mth</h3>
                    </div>
                    <ul class="pricing-list">
                        <li>Mobile version</li>
                        <li>Basic Desktop version.</li>
                        <li>Basic App support</li>
                        <li>Yearly Updates</li>
                        <li>One Time Support</li>
                        <li></li>
                    </ul>
                    <div class="chose-btn">
                        <a href="#" class="btn choose-button">Choose Now </a>
                    </div>
                </div>
                <!-- single-priceing End -->
            </div>
            <div class="col-lg-4 col-md-6 order-lg-3 order-2">
                <!-- single-priceing Start -->
                <div class="single-priceing last text-center">
                    <div class="table-header">
                        <h5>Premium</h5>
                        <h3>R99.00 / mth</h3>
                    </div>
                    <ul class="pricing-list">
                        <li>Marketing Metup</li>
                        <li>Free Coffy.</li>
                        <li>Support Papers</li>
                        <li class="not">Policy System</li>
                        <li class="not">One Time Support</li>
                        <li></li>
                    </ul>
                    <div class="chose-btn">
                        <a href="#" class="btn choose-button">Choose Now </a>
                    </div>
                </div>
                <!-- single-priceing End -->
            </div>
        </div>
        </div>
    </div>
    <!-- Pricing Packages End -->
