    <!-- Screenshot Area Start -->
    <div id="screnshot" class="screnshot-area section-ptb">
        <div class="container-1470">
            <div class="row">
                <div class="col-lg-7 ml-auto mr-auto">
                    <div class="section-title">
                        <h2>Mobile Screenshots</h2>
                        <p>How our app looks on your device.</p>
                    </div>
                </div>
            </div>
            <!-- Screnshot Content Two Start-->
            <div class="screnshot-content-three">
               
                <div class="screen-mobile-image"> </div>
                
                <div class="row screenshot-center-active">
                    <div class="col-lg-3">
                        <!-- Singel Screenshot Start -->
                        <div class="singel-screenshot">
                            <img src="/assets/images/screenshot/01.png" alt="">
                        </div>
                        <!-- Singel Screenshot End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Singel Screenshot Start -->
                        <div class="singel-screenshot">
                            <img src="/assets/images/screenshot/02.png" alt="">
                        </div>
                        <!-- Singel Screenshot End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Singel Screenshot Start -->
                        <div class="singel-screenshot">
                            <img src="/assets/images/screenshot/02.png" alt="">
                        </div>
                        <!-- Singel Screenshot End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Singel Screenshot Start -->
                        <div class="singel-screenshot">
                            <img src="/assets/images/screenshot/03.png" alt="">
                        </div>
                        <!-- Singel Screenshot End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Singel Screenshot Start -->
                        <div class="singel-screenshot">
                            <img src="/assets/images/screenshot/04.png" alt="">
                        </div>
                        <!-- Singel Screenshot End -->
                    </div>
                    <div class="col-lg-3">
                        <!-- Singel Screenshot Start -->
                        <div class="singel-screenshot">
                            <img src="/assets/images/screenshot/03.png" alt="">
                        </div>
                        <!-- Singel Screenshot End -->
                    </div>
                </div>
            </div>
            <!-- Screnshot Content Two End-->
        </div>
    </div>
    <!-- Screenshot Area End -->

