    <!-- Service Area Start  -->
    <div  id="feature" class="service-area section-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ml-auto mr-auto">
                    <div class="section-title">
                        <h2>Coresthetics Features</h2>
                        <p>Our app uses the latest AI technology to adapt to your needs.</p>
                    </div>
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-4 col-md-6"> 
                    <!-- Single Service Start -->
                    <div class="single-service mt--30  wow fadeInLeft" data-wow-duration="0.7s">
                        <div class="service-icon">
                            <img src="/assets/images/icon/feature-01.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>Personalised Training</h3>
                            <p>This is not just another workout plan. The app uniquely adapts to your training goals and fitness level. It always keeps you at the core of your training goals.</p>
                        </div>
                    </div>
                    <!-- Single Service End -->
                </div>
               
                <div class="col-lg-4 col-md-6"> 
                    <!-- Single Service Start -->
                    <div class="single-service mt--30">
                        <div class="service-icon">
                            <img src="/assets/images/icon/feature-02.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>Location Based Training</h3>
                            <p>Train anywhere, anytime using your body weight or the training equipment accessible yo you. Whether it's at the gym, park, in a hotel room or at home, you are at the core.</p>
                        </div>
                    </div>
                    <!-- Single Service End -->
                </div>
               
                <div class="col-lg-4 col-md-6"> 
                    <!-- Single Service Start -->
                    <div class="single-service mt--30 wow fadeInRight" data-wow-duration="0.7s">
                        <div class="service-icon">
                            <img src="/assets/images/icon/feature-03.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>Simple and Easy to use.</h3>
                            <p>We take the guesswork out of your training, with a simplified & clean user interface, focused only on your day's training, with instructional videos to guide your workouts.</p>
                        </div>
                    </div>
                    <!-- Single Service End -->
                </div>
               
            </div>
        </div>
    </div>
    <!-- Service Area End -->
