---
layout: layouts/base.njk
---
{% include "components/header.njk" %}
{% include "components/hero.njk" %}
{% include "components/about.njk" %}
{% include "components/service.njk" %}
{% include "components/pricing.njk" %}
{% include "components/testimonials.njk" %}
{% include "components/screenshot.njk" %}
{% include "components/contact.njk" %}
{% include "components/footer.njk" %}
